<div class="p-4 w-1/4">
  <div class="p-2 py-6 rounded-md bg-slate-100 space-y-2">
    <button class="text-slate-600 p-2 bg-slate-50 rounded-md">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="w-6 h-6" viewBox="0 0 16 16">
        <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z" />
      </svg>
    </button>
    <h4 class="font-semibold text-xl text-slate-700 capitalize">Chat</h4>
    <p class="font-medium text-slate-600">You can send text messages, voices and share files easily and fast. Just need to register a free account, create your own room.</p>
  </div>
</div>