<div class="p-4 xl:w-1/4 md:w-1/2 w-full h-auto">
  <div class="p-2 py-6 rounded-md bg-slate-100 h-full space-y-2">
    <button class="p-2 rounded-md <%= active ? 'bg-sky-700 shadow-xl text-white transform rotate-2' : 'bg-slate-50 text-slate-600' %>">
      <%- svg %>
    </button>
    <h4 class="font-semibold text-xl text-slate-700 capitalize"><%= title %> </h4>
    <p class="font-medium text-slate-600"><%= text %></p>
  </div>
</div>