<div class="p-4 flex justify-center items-center">
  <div class="flex p-2 space-x-4 rounded-md border border-slate-200">
    <button id="homeBtn" class="chattoolbar-btn"></button>
    <button id="openMessageBoxBtn" class="chattoolbar-btn"></button>
    <button id="turnOnCameraBtn" class="chattoolbar-btn"></button>
    <button id="turnOnMicBtn" class="chattoolbar-btn"></button>
    <button id="shareScreenBtn" class="chattoolbar-btn"></button>
    <button id="fullscreenBtn" class="chattoolbar-btn"></button>
  </div>
</div>