<footer class="bg-slate-100 py-8">
  <div class="container max-w-7xl w-full mx-auto z-50">
    <div class="md:flex flex-wrap">
      <div class="md:w-1/4 p-4 md:block flex flex-wrap justify-between">
        <a class="block mb-8 mr-7" href="/">
          <img class="h-8 min-h-8 object-contain" src="/images/minichat.svg" alt="" srcset="">
        </a>
        <p class="font-medium text-slate-600 leading-7">Minichat is a language pratice community. You can create your own room, talk with people on the world.</p>
      </div>
      <ul class="flex-1 flex flex-wrap md:justify-end p-2">
        <li class="space-y-4 p-2 mr-12">
          <h3 class="font-semibold text-xl text-gray-700">Partner</h3>
          <p class="font-medium text-slate-600"><a href="/"></a>Our Partner</p>
          <p class="font-medium text-slate-600"><a href="/"></a>Become a Partner</p>
        </li>
        <li class="space-y-4 p-2 mr-12">
          <h3 class="font-semibold text-xl text-gray-700">Support</h3>
          <p class="font-medium text-slate-600"><a href="/"></a>FAQs</p>
          <p class="font-medium text-slate-600"><a href="/"></a>Support Center</p>
          <p class="font-medium text-slate-600"><a href="/"></a>Contact Us</p>
        </li>
        <li class="space-y-4 p-2">
          <h3 class="font-semibold text-xl text-gray-700">About</h3>
          <p class="font-medium text-slate-600"><a href="/"></a>About</p>
          <p class="font-medium text-slate-600"><a href="/"></a>Features</p>
        </li>
      </ul>
    </div>
  </div>
</footer>