<header class="relative mb-12">
  <div class="header-mask absolute left-0 top-0 right-0 bottom-0"></div>
  <div class="container max-w-7xl w-full p-4 py-2 mx-auto z-50">
    <!-- Nav -->
    <%- include('nav') %>
  </div>
</header>