<header class="container max-w-7xl w-full py-2 mx-auto">
  <div class="flex p-4 justify-between items-center">
    <div>
      <a class="text-sky-600 text-4xl font-medium" href="/">Minichat</a>
    </div>
    <div class="flex items-center space-x-7">
      <a class="text-slate-700 font-medium  hover:text-sky-600" href="/">Home</a>
      <a class="text-slate-700 font-medium  hover:text-sky-600" href="/">Chat</a>
      <a class="text-white font-medium p-2 px-4 bg-sky-700 rounded-lg" href="/">Login</a>
    </div>
  </div>
</header>