<header class="relative">
  <!-- <div class="absolute top-0 left-0 right-0 bottom-0 bg-blue-50 filter"></div> -->
  <div class="container max-w-7xl w-full py-2 mx-auto z-50">
    <div class="flex p-4 justify-between items-center font-medium">
      <div>
        <a class="" href="/">
            <img class="h-8 object-contain" src="/images/minichat.svg" alt="" srcset="">
        </a>
      </div>
      <div class="flex items-center space-x-7 font-semibold">
        <a class="text-slate-700 hover:text-sky-600" href="/">Home</a>
        <a class="text-slate-700 hover:text-sky-600" href="/">Chat</a>
        <%- include('link', {href:'/login', text:'Login'}) %>
      </div>
    </div>
  </div>
</header>