<div id="<%= modal.id %>" data-message="<%= modal.message %>" class="modal flex items-center justify-center p-4" aria-backdrop="backdrop">
    <div class="modal-dialog max-w-xl bg-white rounded-md p-4 w-full relative">
        <div class="flex items-center justify-center py-6">
            <svg class="w-20 h-20 text-red-600" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
        </div>
        <h3 class="font-semibold text-xl text-slate-700 mb-8 p-2 text-center">
            <%= modal.message %>
        </h3>
        <div class="flex items-center justify-center px-2 space-x-6 pb-6">
            <button btn-submit class="rounded-md bg-sky-700 text-white font-medium p-2 px-3">Yes, I'm sure</button>
            <button btn-close class="rounded-md bg-slate-200 text-slate-700 font-medium p-2 px-3">No, Cancel</button>
        </div>
        <button class="modal-close"></button>
    </div>
</div>
