<nav class="flex flex-wrap justify-between items-center font-medium py-1">
  <div>
    <a class="" href="/">
      <img class="sm:h-8 h-6 object-contain" src="/images/minichat.svg" alt="" srcset="">
    </a>
  </div>
  <div class="md:hidden flex">
    <button id="openMenuMobile" class="text-slate-700">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="w-12 h-12" viewBox="0 0 16 16">
        <path d="M14 10.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 .5-.5zm0-3a.5.5 0 0 0-.5-.5h-7a.5.5 0 0 0 0 1h7a.5.5 0 0 0 .5-.5zm0-3a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0 0 1h11a.5.5 0 0 0 .5-.5z" />
      </svg>
    </button>
  </div>
  <div id="menuMobile" class="slidex">
    <div class="md:flex block w-full items-center md:space-x-7 md:space-y-0 space-x-0 space-y-4 font-semibold mt-2">
      <a class="md:hidden block" href="/">
        <img class="sm:h-8 h-6 object-contain" src="/images/minichat.svg" alt="" srcset="">
      </a>
      <a class=" <% if (req.url == '/') { %> text-sky-600 <% } else { %> text-slate-700 <% } %> hover:text-sky-600 block" href="/">Home</a>
      <a class="<% if (req.url == '/chat') { %> text-sky-600 <% } else { %> text-slate-700 <% } %> text-slate-700 hover:text-sky-600 block" href="/chat">Chat</a>
      <a class="<% if (req.url == '/posts') { %> text-sky-600 <% } else { %> text-slate-700 <% } %> text-slate-700 hover:text-sky-600 block" href="/posts">Post</a>
      <% if (auth.auth) { %>
      <div class="flex items-center space-x-2 dropdown-menu py-2">
        <img class="w-8 h-8 rounded-full object-cover object-center" src="<%= auth.user.picture %>" alt="" srcset="">
        <button class="text-slate-700 font-semibold text-sm dropdown-menu-toggle space-x-2 max-w-44">
          <span class="inline-block flex-1 truncate mr-1"><%= auth.user.username %></span>
        </button>
        <ul class="dropdown-menu-list">
          <li class="px-3 py-2 hover:bg-slate-50">
            <a class="text-slate-700 hover:text-sky-600 block" href="/wall">View my posts</a>
          </li>
          <li class="px-3 py-2 hover:bg-slate-50">
            <a class="text-slate-700 hover:text-sky-600 block" href="/profile">Profile</a>
          </li>
          <li class="px-3 py-2">
            <a href="/logout" class="box-border block text-white p-1 px-4 hover:bg-white bg-sky-700 hover:text-slate-700 rounded rounded-br-lg border-2 border-sky-700 transition-all">Logout</a>
          </li>
        </ul>
      </div>
      <% } else { %>
      <a href="/login" class="box-border block text-white p-1 px-4 hover:bg-white bg-sky-700 hover:text-slate-700 rounded rounded-br-lg border-2 border-sky-700 transition-all">Login</a>
      <a href="/register" class="box-border block text-white p-1 px-4 hover:bg-white bg-sky-700 hover:text-slate-700 rounded rounded-br-lg border-2 border-sky-700 transition-all">Register</a>
      <% } %>
    </div>
  </div>
</nav>
