<div class="message flex items-center space-x-4">
  <button><img class="rounded-full w-12 h-12 object-cover" src="https://images.pexels.com/photos/10656036/pexels-photo-10656036.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" srcset=""></button>
  <p class="p-2 rounded-full font-medium text-slate-600 bg-slate-100">Hello! How can I help you</p>
</div>