@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-slate-100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-slate-700;
  @apply rounded-full;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-sky-700;
}

* {
  font-family: 'Quicksand', sans-serif !important;
}

/* Collapse */
.collapse {
  transition: height .45s ease;
  overflow: hidden;
  height: 0px;
}

/* Modal */
.backdrop, .md\:backdrop {
  @apply bg-slate-700 bg-opacity-50 fixed left-0 top-0 bottom-0 right-0 overflow-hidden z-10;
}

.modal, .md\:modal {
  @apply hidden z-20;
}

.modal.show, .md\:modal.show {
  @apply block fixed top-0 bottom-0 left-0;
}

@media (min-width: 768px) {
  .md\:modal {
    display: block;
  }

  .md\:modal.show {
    position: relative;
  }

  .md\:backdrop {
    display: none;
  }
}
/* Header */
header {
  /* min-height: 52rem; */
  /* clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%); */
  /* overflow: hidden; */
  overflow: visible;
}

.header-mask {
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
  background-color: rgba(234, 242, 248, .5);
  z-index: -10;
}

/* Text divider */
.text-divider {
  @apply flex items-center text-sm text-slate-700;
}

.text-divider:before,
.text-divider:after {
  content: "";
  height: 1px;
  background-color: rgba(12, 18, 28, .38);
  flex-grow: 1;
}

@tailwind base;
@tailwind components;
@tailwind utilities;