<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../components/head') %>
  <title>Minichat | 404 Not Found</title>
</head>

<body class="bg-slate-50">
  <main class="container w-full p-4 mx-auto flex items-center justify-center h-screen">
    <h1 class="font-medium text-4xl text-slate-700 mb-2 text-center">404</h1>
    <h2 class="font-medium text-3xl text-slate-500 capitalize text-center">Not Found</h2>
  </main>
</body>

</html>