<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../components/head') %>
  <title>Minichat | 500</title>
</head>

<body class="bg-slate-50">
  <main class="container w-full p-4 mx-auto flex items-center justify-center h-screen">
    <div>
      <h1 class="font-medium text-4xl text-slate-700 mb-2 text-center">500</h1>
    </div>
  </main>
</body>

</html>