<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../components/head') %>
  <title>Minichat | Chat room</title>
  <script src="/js/public_rooms.js" defer></script>
</head>

<body class="bg-slate-50">
  <%- include('../components/header-page') %>
  <main class="container max-w-7xl w-full py-2 mx-auto z-50 mb-4">
    <div class="p-4 mb-4">
      <button modal-target="createRoomModal" class="box-border text-white p-1 px-4 hover:bg-white bg-sky-700 hover:text-slate-700 rounded rounded-br-lg border-2 border-sky-700 transition-all font-medium">Create your own room</button>
    </div>
    <div id="roomsList" class="flex flex-wrap min-h-96">
    </div>
    <%- include('../components/modal-create-room') %>
  </main>
  <%- include('../components/footer') %>
</body>

</html>