<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Minichat | Chat room</title>
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/animation.js" async="true"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/pusher.js"></script>
  <script src="/javascripts/public_rooms.js" async="true"></script>
</head>

<body class="bg-slate-50">
  <%- include('../components/header-page') %>
  <main class="container max-w-7xl w-full py-2 mx-auto z-50 mb-4">
    <div class="p-4 mb-4">
      <button modal-target="createRoomModal" id="createRoomBtn" class="box-border text-white p-1 px-4 hover:bg-white bg-sky-700 hover:text-slate-700 rounded rounded-br-lg border-2 border-sky-700 transition-all font-medium">Create your own room</button>
    </div>
    <div id="roomsList" class="flex flex-wrap min-h-96">
      <!-- Room Item -->

    </div>
    <div id="createRoomModal" class="modal flex items-center justify-center" aria-backdrop="backdrop">
      <div class="max-w-sm bg-white rounded-md p-4 w-full">
        <h3 class="font-semibold text-xl text-slate-700 mb-4">Create a new room</h3>
        <div>
          <form action="">
            <p class="font-medium text-slate-700 mb-2">Language</p>
            <div data-value data-default="Language" class="dropdown w-full">
              <select placeholder="Please choose">
                <option>English</option>
                <option>Vietnammese</option>
                <option>Spanish</option>
                <option>Chinese</option>
              </select>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
  <%- include('../components/footer') %>
</body>

</html>