<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../components/head') %>
  <title>Login Minichat</title>
  <script src="/js/animation.js" defer></script>
</head>

<body class="bg-slate-50">
    <div class="fixed top-0 left-0 right-0 bottom-0 flex justify-center items-center rounded-md ml-20 mr-20">
      <input  name="comment" class="mt-1 px-3 py-2 bg-white border shadow-sm border-gray-300 placeholder-gray-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-300 rounded-md sm:text-sm focus:ring-1" placeholder="" />
      
      <textarea name="Text1" cols="40" rows="5" class="mt-1 px-3 py-2 bg-white border shadow-sm border-gray-300 placeholder-gray-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-300 rounded-md sm:text-sm focus:ring-1" placeholder=""></textarea>
      <img class=" h-20 w-20 object-contain rounded-full border-2" src="/images/user.png" alt="" srcset="">
      <textarea cols="40" rows="5" class="mt-1 px-3 py-2 bg-white border shadow-sm border-gray-300 placeholder-gray-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1">dấdawdasdawfdsjklgdfhgidfhklsdfghdfighdfiuhdfuighdfiughdirughdiughdiurhgiufdhgiudrhgiudfhgdirughdfiuhgrdiughidfughdriughdfiughdighdrighdighdrighrgiuhrgiudfhgiudrhgiudrhgiudrhgiudfghrdiughidfgheirughdriyghsiughdfiughdrifguhridughdirughdriuhdfughrdiughesioufhrgioudhrgiotduhgiufghdriughdighdriughriughdiguhdrighdrigudrhgiohgiadrghidughdirghsioguhdriughrdiughdriughrdiughdirtuhgauighriughriughrdighiughtiugarhougahrgiuarghairugharifghariughariguhrihogurgoiaruhgairghairughairughairughaioughitghaifhgrfigariygfiugfhduyytfugvytcikreoilpseiosreyitvwerifjaiopsfkjdiophgfujfh5kieuwkghtbgdf8ịuaisckmadioshnsrthjguvghudouirsp9thguklhkpfleaps[gìgoh8gjyhfkrkdiucjlrijnghbiodfkfapskgjteirkbyyhciurl0iorgkrpsgokohigj9m8ykl.tkjfglfdjo;dskfyhundiogmpdosgmaogjtrigryfcuyt0deios9repdsotvtrkgrspfkdopgifo9ịhg6jkhtfkl5hlfdgjkrmt6bnrhiugneirhgbarioghbFSighadfloughaertoplughadfniopghadjnfopghaiopteghariopwfaiop;gaeoprughaeopriugnfdjopahgweiortughnajoprgdtiosubu9</textarea>
    </div>
</body>
  
  </html>