<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../components/head') %>
  <title>Login Minichat</title>
  <script src="/js/animation.js" defer></script>
</head>

<body class="bg-slate-50">

  <div class="mx-auto md:h-screen flex flex-col justify-center items-center px-6 pt-8 pt:mt-0">
    <a class="text-2xl font-semibold flex justify-center items-center mb-8 lg:mb-10">
        <img src="/images/minichat.svg" class="h-10 mr-4" alt="Windster Logo">
    </a>
    <div class="bg-white shadow rounded-lg md:mt-0 w-full sm:max-w-screen-sm xl:p-0">
        <div class="p-6 sm:p-8 lg:p-16 space-y-8">
            <h2 class="text-2xl lg:text-3xl font-bold text-gray-900">
                Log in to Minichat
            </h2>
            <% if (errors.auth) { %>
              <div class="text-sm bg-red-400 text-white font-medium mb-2 p-2 rounded w-full"><%= errors.auth.msg %></div>
            <% } %>
            <form class="mt-8 space-y-6" action="/login" method="post">
                <div>
                    <label for="email" class="text-sm font-medium text-gray-900 block mb-2">Your email</label>
                    <input type="email" name="email" id="email"
                        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-sky-600 focus:border-sky-600 block w-full p-2.5"
                        placeholder="name@company.com">
                    <% if (errors.email) { %>
                      <p class="text-sm text-red-400 font-medium mt-1"><%= errors.email.msg %></p>
                    <% } %>
                </div>
                <div>
                    <label for="password" class="text-sm font-medium text-gray-900 block mb-2">Your password</label>
                    <input type="password" name="password" id="password" placeholder="••••••••"
                        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-sky-600 focus:border-sky-600 block w-full p-2.5">
                    <% if (errors.password) { %>
                      <p class="text-sm text-red-400 font-medium mt-1"><%= errors.password.msg %></p>
                    <% } %>
                </div>
                <div class="flex items-start">
                    <div class="flex items-center h-5">
                        <input id="remember" aria-describedby="remember" name="remember" type="checkbox"
                            class="bg-gray-50 border-gray-300 focus:ring-3 focus:ring-sky-200 h-4 w-4 rounded">
                    </div>
                    <div class="text-sm ml-3">
                        <label for="remember" class="font-medium text-gray-900">Remember me</label>
                    </div>
                    <a href="/register" class="text-sm text-teal-500 hover:underline ml-auto">Not have an account? Register</a>
                </div>
                <div class="flex justify-between items-center">
                    <button type="submit" class="text-white bg-sky-600 hover:bg-sky-700 focus:ring-4 focus:ring-sky-200 font-medium rounded-lg text-base px-5 py-3 w-full sm:w-auto text-center">Login to your account</button>
                    <a href="/google/oauth" role="button" class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 font-medium rounded-lg px-5 py-3 text-center inline-flex items-center text-base">
                        <svg class="mr-2 -ml-1 w-4 h-4" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="google" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488 512"><path fill="currentColor" d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"></path></svg>
                        Login with Google
                    </a>
                </div>
            </form>
        </div>
    </div>
  </div>
  
</body>

</html>
