<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="chat-room-id" content="<%= roomId %>">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Minichat | Chat Room</title>
  <script src="/javascripts/jquery.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/pusher.js"></script>
  <script src="/javascripts/animation.js" async="true"></script>
  <script src="/javascripts/chattar.js" async="true"></script>
</head>

<body class="bg-slate-50">
  <div id="chatroomContainer" class="fixed left-0 top-0 bottom-0 right-0 bg-slate-50 z-10 flex items-stretch">
    <%- include('../components/chat-toolbar')  %>
    <div class="flex-1 flex flex-col p-4 items-stretch">
      <%- include('../components/header-chat-page')  %>
      <main class="flex flex-1 flex-wrap items-stretch">
        <!-- Message container -->
        <div class="relative w-full flex-1 flex flex-col border border-slate-200 rounded bg-white">
          <div id="messageBox" class="p-2 rounded-md space-y-2 overflow-auto h-0 flex-auto">
            
          </div>
          <div class="bottom-0 left-0 right-0 z-10 p-2 border-t border-slate-200">
            <div class="w-full"><input type="text" class="py-2 bg-transparent font-medium text-slate-700 w-full"></div>
          </div>
        </div>

        <!-- Other container -->
      </main>
    </div>
  </div>
</body>

</html>